name: CI - Main

on:
  push:
    branches: [main]

permissions:
  contents: write
  packages: write
  pull-requests: read

jobs:
  main:
    uses: michael-lim-watcha/watcha-actions-platform/.github/workflows/reusable-ci-main.yml@main
    with:
      image_repository: ghcr.io/YOUR_ORG/YOUR_APP_NAME
    secrets: inherit
